body{
    background-image: url(images/sky.jpg);
    background-size: cover;
    margin: 0;
}

h2{
    text-shadow: 3px 3px 5px #414141;
    font-size: 30px;
    text-align: center;
}

h3{
    margin: auto;
}

a{
    text-decoration: none;
}

.first{
    background-color: rgb(255, 174, 0);
    text-align: center;
    text-shadow: 3px 3px 5px #e0dfdf;
    color : rgb(0, 0, 0);
    font-size:larger;
    font-weight: bold;
    padding-top: 3px;
    margin: 0;
}

.title{
    text-align: center;
    border: solid 3px rgb(0, 255, 13);
    border-radius: 50%;
    text-shadow: 3px 3px 5px #414141;
    box-shadow: 3px 3px 5px #797878;
    margin: auto;
    color: white;
    width: min(60vh,100vw);
}

.tel{
    text-shadow: 3px 3px 5px #c0c0c0;
    
    h3{
        font-size: 25px;
    }
}

.tel-number{
    font-size: 25px;
    color:rgb(0, 0, 0);
}

.company-philosophy{
    width: min(80vw,104vh);
    text-align: justify;
    margin: auto;
    margin-top: 50px;
    font-size: 18px;
}

.company-philosophy-title{
    color: yellow;
    text-align: left;
}

.company-philosophy-text{
    font-size: 20px;
    line-height: 3;
}

.management-philosophy{
    text-align: justify;
    margin: auto;
    margin-top: 50px;
    width: min(60vh,100vw);
    font-size: 18px;
}

.future-title{
    color: aqua;
    text-align: left;
}

.growth-title{
    color: orange;
    text-align: left;
}

.children-title{
    color: greenyellow;
    text-align: left;
}

.characteristics{
    margin: auto;
    margin-top: 50px;
    text-align: justify;
    font-size: 18px;
    width: 90vw;
}

.characteristics-title{
    color: rgb(250, 141, 141);
    text-align: initial;
}

@media (min-width: 768px) {
    .characteristics-title{
        color: rgb(250, 141, 141);
        text-align: center;
    }
}

.characteristics-block{
    width: 80vw;
    margin: auto;
}

.elementary-junior{
    font-size: 22px;
    width: 22vh;
    border-radius: 50%;
    border: solid 5px rgb(0, 255, 13);
    border-radius: 50%;
    float: left;
    margin: auto;
}

.characteristics-text{
    line-height: 3;
    margin-bottom: 20px;
}

.junior-high{
    font-size: 22px;
    width: 22vh;
    border-radius: 50%;
    border: solid 5px rgb(0, 255, 13);
    border-radius: 50%;
    float: left;
    margin: auto;
}

.support-details{
    margin: auto;
    margin-top: 50px;
    text-align: justify;
    font-size: 18px;
}

@media (min-width:960px){
    .support-details{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 200px;
        grid-gap: 20px;
        margin-bottom: 20px;
    }    
}

.support-details-title{
    text-align: left;
    color:aqua;
}

@media (min-width: 960px){
    .support-details-title{
        height: 20vh;
        text-align: center;
        color:aqua;
        grid-row: 1;
        grid-column: 2;
    }
}

.health-life{
    display: flex;
    width: 90vw;
    margin: auto;
    margin-bottom: 30px;
}

@media (min-width: 960px){
    .health-life{
        display: block;
        width: 30vw;
        height: 20vh;
        margin: auto;
        grid-row: 1;
        grid-column: 1;
    }
}

.health-life-title{
    width: 45vw;
    color: blue;
    
}

@media (min-width:960px) {
    .health-life-title{
        width: 30vw;
        text-align: center;
    }
}

.exercise-feeling{
    display: flex;
    width: 90vw;
    margin: auto;
    margin-bottom: 30px;
}

@media (min-width:960px) {
    .exercise-feeling{
        display: block;
        width: 30vw;
        height: 20vh;
        margin: auto;
        grid-row: 1;
        grid-column: 3;
    }
}

.exercise-feeling-title{
    width: 41vw;
    color: blue;
}

@media (min-width:960px) {
    .exercise-feeling-title{
        width: 30vw;
        text-align: center;
    }
}

.recognition-behavior{
    display: flex;
    width: 90vw;
    margin: auto;
    margin-bottom: 30px;
}

@media (min-width:960px) {
    .recognition-behavior{
        display: block;
        width: 30vw;
        height: 20vh;
        margin: auto;
        grid-row: 2;
        grid-column: 1;
    }
}

.recognition-behavior-title{
    width: 47vw;
    color: blue;
}

@media (min-width:960px) {
    .recognition-behavior-title{
        width: 30vw;
        text-align: center;
    }
}

.language-communication{
    display: flex;
    width: 90vw;
    margin: auto;
    margin-bottom: 30px;
}

@media (min-width:960px) {
    .language-communication{
        display: block;
        width: 30vw;
        height: 20vh;
        margin: auto;
        grid-row: 2;
        grid-column: 2;
    }
}

.language-communication-title{
    width: 125vh;
    color: blue;
}

@media (min-width:960px) {
    .language-communication-title{
        width: 30vw;
        text-align: center;
    }
}

.relationships-sociality{
    display: flex;
    width: 90vw;
    margin: auto;
    margin-bottom: 30px;
}

@media (min-width:960px) {
    .relationships-sociality{
        display: block;
        width: 30vw;
        height: 20vh;
        margin: auto;
        grid-row: 2;
        grid-column: 3;
    }
}

.relationships-sociality-title{
    width: 63vw;
    color: blue;
}

@media (min-width:960px) {
    .relationships-sociality-title{
        width: 30vw;
        text-align: center;
    }
}

.activities{
    margin: auto;
    margin-top: 50px;
}

.activities-title{
    color: rgb(255, 73, 73);
    text-align: left;
}

@media (min-width:768px) {
    .activities-title{
        text-align: center;
    }
}

.activities-text{
    line-height: 3;
    font-size: 20px;
    width: min(80vw,104vh);
    text-align: justify;
}

.link-block{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}

.weekly-timetable{
    margin: auto;
}

.weekly-timetable-title{
    color: rgb(210, 156, 255);
}

.evaluation{
    margin: auto;
}

.evaluation-title{
    color: orange;
}

.link-box{
    position: relative;
    border: double 2px white;
    font-size: 25px;
    height: 8vh;
    width: 30vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 98, 125);
    background-color: rgb(124, 213, 255);
    text-shadow: 3px 3px 5px #414141;
    transition: background-color 0.5s;
}

.link-box::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: rgb(124, 213, 255) #fff ;
    
}

@media (hover:hover) {
    .link-box:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(52, 174, 255);
        text-shadow: 3px 3px 5px rgb(160, 160, 160);
    }
    .link-box:hover::after{
        border-color: #fff;
    }    
}

.introduction-title{
    color: rgb(240, 255, 31);
}

.introduction-block1{
    text-align: center;
    margin: auto;
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-gap: 20px;
    margin-bottom: 50px;
}

@media (min-width:960px) {
    .introduction-block1{
        width: 60vw;    
    }
}

.target-children{
    grid-row: 1;
    grid-column: 1;
}

.capacity{
    grid-row: 2;
    grid-column: 1;
}

.introduction-block2{
    text-align: center;
    margin: auto;
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 180px 180px;
    grid-gap: 20px;
    margin-bottom: 50px;
}

@media (min-width:960px) {
    .introduction-block2{
        width: 60vw;    
    }
}

.business-days{
    grid-row: 1;
    grid-column: 2;
}

.business-holiday{
    grid-row: 2;
    grid-column: 2;
}

.introduction-block3{
    text-align: center;
    margin: auto;
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-gap: 20px;
    margin-bottom: 50px;
}

@media (min-width:960px) {
    .introduction-block3{
        width: 60vw;    
    }
}

.expense{
    grid-row: 1;
    grid-column: 1;
}

.transportation-service{
    grid-row: 2;
    grid-column: 1;
}

.lastly{
    margin-bottom: 50px;
    color: rgb(255, 166, 0);
}

footer{
    text-align: center;
}

.company-name{
        
    h2{
        font-size: 25px;
        text-shadow: none;
    }
}

.address{
    margin: auto;
    text-align: center;
    margin-bottom: 25px;

    h3{
        width: 80vw;
    }
}

@media (min-width:768px) {
    .address{
        p{
            float: right;
        }

        a{
            width: 170px;
        }
    }
}
